//---------------------------------------------colors

$white: #ffffff;
$black: #212121;
$grey: rgb(105, 105, 105);
$color_text_blue: #017ee2;

//---------------------------------------------media points
$point_2: 1024px;
$point_4: 768px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
$point_9: 1440px;

//---------------------------------------------container padding

$desc_padding: 3.74rem;
$responsive_padding: 5vw;

//---------------------------------------------transition

$dropdown: 250ms;
$hover1: 1000ms;
$hover: 250ms;
